## Deliverable 2. Create a Customer Travel Destinations Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [3]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Hobart,AU,-42.8794,147.3294,47.05,85,20,8.05,few clouds
1,1,Kodiak,US,57.7900,-152.4072,63.91,48,40,13.80,scattered clouds
2,2,Provideniya,RU,64.3833,-173.3000,52.07,80,61,10.60,light rain
3,3,Shediac,CA,46.2198,-64.5411,77.52,69,40,5.75,scattered clouds
4,4,Port Alfred,ZA,-33.5906,26.8910,57.18,95,100,4.00,light rain

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Shediac,CA,46.2198,-64.5411,77.52,69,40,5.75,scattered clouds
5,5,Merritt Island,US,28.5392,-80.6720,86.00,75,0,5.75,clear sky
11,11,Arraial Do Cabo,BR,-22.9661,-42.0278,70.11,74,99,10.67,overcast clouds
16,16,Hithadhoo,MV,-0.6000,73.0833,82.20,73,100,10.16,overcast clouds
17,17,Hilo,US,19.7297,-155.0900,89.28,77,40,11.50,scattered clouds
18,18,Axim,GH,4.8699,-2.2405,72.50,84,7,6.35,clear sky
19,19,Espanola,US,35.9911,-106.0806,78.51,57,100,11.27,overcast clouds
21,21,Georgetown,MY,5.4112,100.3354,84.88,87,20,3.44,few clouds
27,27,Arisvi,GR,41.0667,25.5833,74.82,69,0,6.60,clear sky
28,28,Duluth,US,46.7833,-92.1066,75.29,65,0,9.22,clear sky

In [6]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                331
City                   331
Country                331
Lat                    331
Lng                    331
Max Temp               331
Humidity               331
Cloudiness             331
Wind Speed             331
Current Description    331
dtype: int64

In [7]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df = preferred_cities_df.dropna()
preferred_cities_df.count()

City_ID                331
City                   331
Country                331
Lat                    331
Lng                    331
Max Temp               331
Humidity               331
Cloudiness             331
Wind Speed             331
Current Description    331
dtype: int64

In [9]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Shediac,CA,77.52,scattered clouds,46.2198,-64.5411,
5,Merritt Island,US,86.00,clear sky,28.5392,-80.6720,
11,Arraial Do Cabo,BR,70.11,overcast clouds,-22.9661,-42.0278,
16,Hithadhoo,MV,82.20,overcast clouds,-0.6000,73.0833,
17,Hilo,US,89.28,scattered clouds,19.7297,-155.0900,
18,Axim,GH,72.50,clear sky,4.8699,-2.2405,
19,Espanola,US,78.51,overcast clouds,35.9911,-106.0806,
21,Georgetown,MY,84.88,few clouds,5.4112,100.3354,
27,Arisvi,GR,74.82,clear sky,41.0667,25.5833,
28,Duluth,US,75.29,clear sky,46.7833,-92.1066,

In [10]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [11]:
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Shediac,CA,77.52,scattered clouds,46.2198,-64.5411,Auberge Gabrièle (Hôtel & Restaurant)
5,Merritt Island,US,86.00,clear sky,28.5392,-80.6720,
11,Arraial Do Cabo,BR,70.11,overcast clouds,-22.9661,-42.0278,Pousada Porto Praia
16,Hithadhoo,MV,82.20,overcast clouds,-0.6000,73.0833,Scoop Guest House
17,Hilo,US,89.28,scattered clouds,19.7297,-155.0900,Hilo Hawaiian Hotel

In [12]:
nan_value = float("NaN")
hotel_df = hotel_df.replace("", nan_value)

In [13]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df = hotel_df.dropna()
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Shediac,CA,77.52,scattered clouds,46.2198,-64.5411,Auberge Gabrièle (Hôtel & Restaurant)
11,Arraial Do Cabo,BR,70.11,overcast clouds,-22.9661,-42.0278,Pousada Porto Praia
16,Hithadhoo,MV,82.20,overcast clouds,-0.6000,73.0833,Scoop Guest House
17,Hilo,US,89.28,scattered clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
18,Axim,GH,72.50,clear sky,4.8699,-2.2405,Axim Beach Resort And Spa
...,...,...,...,...,...,...,...
686,Basoko,CD,72.52,overcast clouds,1.2391,23.6160,Jackyna Hotel
693,Oranjestad,AW,82.35,few clouds,12.5240,-70.0270,Divi Village Golf & Beach Resort
695,Tottori,JP,89.67,few clouds,35.5000,134.2333,Hotel Monarque Tottori
696,Hailey,US,83.88,clear sky,43.5196,-114.3153,Wood River Inn & Suites
699,Jacareacanga,BR,80.35,scattered clouds,-6.2222,-57.7528,Casa do Ian😎

In [15]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [20]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [23]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)

# 11b. Display the figure

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))